
@{
    ViewData["Title"] = "Calculator Functions";
}

<div class="text-center">

    <div id="content">
        <div class="calculator" id="calculator">

            <input type="text" id="valueScreen" class="calculator-screen" disabled />

            <div class="calculator-keys">

                <div id="load" class="none">
                    <img src="~/img/Ajax-Preloader.gif" width="250" height="180"/>
                </div>

                <button type="button" onclick="getOperation('+')" class="operator" value="+">+</button>
                <button type="button" onclick="getOperation('-')" class="operator" value="-">-</button>
                <button type="button" onclick="getOperation('*')" class="operator" value="*">&times;</button>
                <button type="button" onclick="getOperation('/')" class="operator" value="/">&divide;</button>

                <button type="button" onclick="getNumber('7')" value="7">7</button>
                <button type="button" onclick="getNumber('8')" value="8">8</button>
                <button type="button" onclick="getNumber('9')" value="9">9</button>


                <button type="button" onclick="getNumber('4')" value="4">4</button>
                <button type="button" onclick="getNumber('5')" value="5">5</button>
                <button type="button" onclick="getNumber('6')" value="6">6</button>


                <button type="button" onclick="getNumber('1')" value="1">1</button>
                <button type="button" onclick="getNumber('2')" value="2">2</button>
                <button type="button" onclick="getNumber('3')" value="3">3</button>


                <button type="button" onclick="getNumber('0')" value="0">0</button>
                <button type="button" onclick="getDecimal()" class="decimal" value=".">.</button>
                <button type="button" onclick="cleanScreen()" class="all-clear">AC</button>

                <button type="button" onclick="getOperation('=')" class="equal-sign" value="=">=</button>

            </div>
        </div>
    </div>
</div>
